@keyframes fadeIn {
    from {
        background-color: $secondary-color;
    }
    to {
        background-color: $primary-color;
    }
}

@keyframes fadeOut {
    from {
        background-color: $primary-color;
    }
    to {
        background-color: $secondary-color;
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-in-out;
}

.fade-out {
    animation: fadeOut 0.3s ease-in-out;
}