@import '../styles/variables';
@import '../styles/animations';

.calc-button {
    width: calc(100% / 3);
    height: calc(100% / 6);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid $secondary-color;
}

.calc-button:last-of-type {
    flex-grow: 4;
}

.calc-button:nth-last-of-type(2) {
    flex-grow: 4;
}