@import '../styles/variables';
@import '../styles/animations';

.calculator {
    width: 60vw;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;

    .calc-buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        background-color: red;
        height: calc(100% - $display-height);
    }
}

@media only screen and (max-width: 600px) {
    .calculator {
        width: 100vw;
    }
}

@media only screen and (max-height: 500px) {
    .calculator {
        .calc-buttons {
            height: calc(100% - ($display-height * 0.5));
        }
    }
}